body {
	background-image: url("../img/cruise-ship.jpg");
	background-size: cover;
	background-position: center;
}

footer {
	min-height: 310px;
}

#mynav{
	
	background-color:#5abbdb;
}
#indeximg{
	max-width: 100%;
    max-height: 100%;
}

.icon {
	height:20px;
	margin-right: 10px
}

.navbar-brand, h3, h1 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

.content {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 2px;
}