<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Calculateur</title>
<script type="text/javascript" th:src="@{/js/calculator.js}" async="true"></script>
</head>
<body>

	<section layout:fragment="custom-content">

		<h3>Bienvenue dans notre calculateur d'itinéraires</h3>
<!-- th:action="@{/greeting}" th:object="${greeting}" -->
		<form action="#" th:action="@{/calculator}" th:method="post">
			<fieldset>
			
				<label for="step1" class="form-label">Choisissez un port
					d'attache</label> 
				<select id="step1" class="form-select" aria-label="Default select example" th:name="step1">
					<option th:each="port : ${ports}" th:value="${port.coordinates}"
						th:text="${port.name}" th:name="step1"/>
				</select> 
				<select id="step2" class="form-select" aria-label="Default select example" th:name="step2">
					<option th:each="port : ${ports}" th:value="${port.coordinates}"
						th:text="${port.name}" th:name="step2"/>
				</select> 
				<select id="step3" class="form-select" aria-label="Default select example" th:name="step3">
					<option th:each="port : ${ports}" th:value="${port.coordinates}"
						th:text="${port.name}" th:name="step3"/>
				</select> 
				<select id="step4" class="form-select" aria-label="Default select example" th:name="step4">
					<option th:each="port : ${ports}" th:value="${port.coordinates}"
						th:text="${port.name}" th:name="step4"/>
				</select> 
				<button type="button" id="addStepButton">Ajouter une étape</button>
				<button>Calculer</button>

			</fieldset>
		</form>

	</section>

</body>
</html>
