<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Calculateur</title>
<script th:inline="javascript">
	// 	On récupère ici la variable portJson du controlleur pour la passer au fichier js
	var ports = `[(${portsJson})]`;
</script>
<script type="text/javascript" th:src="@{/js/calculator.js}"
	async="true"></script>
</head>
<body>

	<section layout:fragment="custom-content"
		class="my-5 d-flex justify-content-center">

		<div>
			<h3 class="pb-2">Bienvenue dans notre calculateur d'itinéraires</h3>

			<!-- 		Je spécifie la méthode de mon formulaire avec th:method="post" -->
			<form action="#" th:action="@{/calculator}" th:method="post" class="">
				<fieldset class="py-5 px-3 border border-primary">

					<div>
						<label for="step1" class="form-label">Choisissez un port
							d'attache</label>
						<!-- 					Je fais un foreach pour afficher tous les ports en options -->
						<select id="step1" class="form-select"
							aria-label="Sélection du port d'attache" th:name="step1">
							<option th:each="port : ${ports}" th:value="${port.idPort}"
								th:text="${port.name}" th:name="step1" />
						</select>
					</div>

					<div>
						<label for="step2" class="form-label">Ajoutez une étape à
							votre itinéraire</label> <select id="step2" class="form-select"
							aria-label="Sélection de l'étape" th:name="step2">
							<option th:each="port : ${ports}" th:value="${port.idPort}"
								th:text="${port.name}" th:name="step2" />
						</select>
					</div>
					<!-- 					Le pointer me permet d'insérér les nouveaux <select> au bon endroit avec js -->
					<div id="pointer"></div>

				</fieldset>
				<div class="d-flex justify-content-between p-3">
					<button type="button" id="addStepButton" class="btn btn-primary">Ajouter
						une étape</button>
					<!-- 				Bouton de type submit dans le formulaire appelle la méthode postCalculator de mon CalculatorController -->
					<button type="submit" class="btn btn-primary bg-warning">Calculer</button>
				</div>

			</form>

			<div th:if="${journey.idJourney != 0}">

				<div class="toast-container position-fixed bottom-0 end-0 p-3 m-5 ">

					<div class="toast show bg-success" role="alert" aria-live="assertive"
						aria-atomic="true">
						<div class="toast-header">
							<img src="..." class="rounded me-2" alt="..."> <strong
								class="me-auto">Succès!</strong> <small>11 mins ago</small>
							<button type="button" class="btn-close" data-bs-dismiss="toast"
								aria-label="Close"></button>
						</div>
						<div class="toast-body"
							th:text="'Le parcours ' + ${journey.idJourney} + ' a bien été enregistré!'"></div>
					</div>

				</div>
			</div>
	</section>

</body>
</html>