<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Calculateur</title>
</head>
<body>

	<section layout:fragment="custom-content">

		<h3>Bienvenue dans notre calculateur d'itinéraires</h3>
		
		<form>
			<fieldset>
			    <label for="step1" class="form-label">Choisissez un port d'attache</label>
			    
				<select  id="step1" class="form-select" aria-label="Default select example">
						<option th:each="port : ${ports}" th:value="${port.name}" th:text="${port.name}"/>
				</select> 
				
				<label for="select" class="form-label">Disabled input</label>
				<select class="form-select" aria-label="Default select example">
					<option selected>Open this select menu</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
				
			</fieldset>
		</form>
	</section>

</body>
</html>
