
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">

<title>Details de Parcours</title>

</head>
<body>


	<section layout:fragment="custom-content">

		<div class="container">
			<div class="row justify-content-between py-5">

				<div class="col-lg-6">
					<h3 th:text="'Itinéraire du voyage n° ' + ${journey.idJourney}"></h3>
				</div>
				<div class="col-lg-4">
					<div class="p-3 border bg-light">
						<p th:text="${#lists.size(journey.steps)} + ' Étape.s'"></p>
						<p
							th:text="' Distance totale parcourue: '+ ${totalDistance} + ' Km'"></p>
					</div>
				</div>

			</div>
			<div class="py-3">
				<table class="table ">
					<thead>
						<tr>
							<th>Ordre étape</th>
							<th>Port de départ</th>
							<th>Port d'arrivée</th>
							<th>Distance</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="step:${steps}">

							<td th:text="${step.journeyOrder}"></td>
							<td th:text="${step.idPortDeparture.name}"></td>
							<td th:text="${step.idPortArrival.name}"></td>
							<td th:text="${step.distance} + ' km'"></td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>


	</section>

</body>

</html>