
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">

<title>Historique des itiniéraires calculés</title>
<link rel="stylesheet" type="text/css" th:href="@{/layouts/style.css}" />


</head>
<body>

	<section layout:fragment="custom-content">
		<div class="container">
			<h3 class="pb-2">Tous les itinéraires calculés</h3>
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Port d'attache</th>
						<th>Nombre d'Étapes</th>
						<th>Parcours</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="journey : ${journeys}">
						<td th:text="${journey.idJourney}"></td>
						<td th:text="${journey.getHomePort().name}"></td>
						<td th:text="${#lists.size(journey.steps)}"></td>
						<td><a class="btn btn-primary btn-sm"
							th:href="'details/' + ${journey.idJourney}">Détails</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
					<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a class="page-link" th:href="@{/journeys(page=${pageNumber})}" th:text="${pageNumber}"></a></li>
			</ul>
		</nav>
		
	</section>

</body>
</html>