
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">

<title>Historique des itiniéraires calculés</title>
<link rel="stylesheet" type="text/css" th:href="@{/layouts/style.css}"/>


</head>
<body>


	<section layout:fragment="custom-content">




		<div class="container">
			<hr />
				<table class="table table-striped">
				
					<thead class="thead-dark">
						<tr>
	
	
	                        <th scope="col">ID</th>
							<th scope="col">Parcours</th>
							<th scope="col">Etapes</th>
	
						</tr>
					</thead>
					
					<tbody>
				
					  <tr th:each="journey : ${journeys}">
						<td th:text="${journey.idJourney}"></td>
						<td th:text="${#lists.size(journey.steps)} + ' étapes'"></td>
						
					   <td> <a th:href="'details/' + ${journey.idJourney}">Etapes</a> </td>
						<td>	<div th:each="step : ${journey.steps}">
								<p
									th:text="'This is step number ' + ${step.idStep} + ' départ: ' + ${step.idPortDeparture.name} + ' arrivée: ' + ${step.idPortArrival.name}"></p>
							</div> </td>
					
		
					</tr>
				</tbody>
				</table>
			</div>
			
			</section>
<!-- 				                <tbody> -->
<!-- 				                     <tr th:each="j: ${journeys}"> -->

<!-- 				                      <p th:text="${j.idJourney}"></p>  -->
<!-- 				                      <p th:text="${j.totalDistance}"></p>  -->

<!-- 				                      <p th:each="$s : {j.steps}"> -->
<!-- 				                      	<p th:text="${s.idStep}"></p> -->
<!-- 				                      </p>  -->

<!-- 				                    </tr> -->
	      
	


</body>
</html>